<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Travel & Hotel</title>
    <link rel="stylesheet" type="text/css" href="/css/Main.css">
</head>
<body>

<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="index.html">Home</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="about.html">About</a>
            </div>
        </div>

        <div class="right-side">
            <div class="loginbutton">
                <a href="/login">LOGIN</a>
            </div>
        </div>
    </div>
</div>
    <br>
</body>
</html>